@use '@angular/material' as mat;
@use 'sass:map';

$background-border-color: #000;

:host {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(15px, auto) minmax(320px, 552px) minmax(15px, auto);

    ::ng-deep {
        .mat-checkbox label {
            white-space: normal;
        }
    }

    &::after {
        content: '';
        grid-column: 3 / 4;
    }
}

.content {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    padding: 16px 0;
}

.title {
    gap: 4px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;

    span {
        line-height: 24px;
        font-size: 20px;

        &.large-title {
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
        }
    }
}

.header {
    min-height: 70px;
    margin-top: 10vh;
    display: grid;
    font-size: 14px;
    line-height: 16px;
    grid-template-columns: minmax(auto, 100%) auto 15%;

    .header-actions {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        align-items: flex-end;
        justify-content: flex-end;
        width: 180px;
        padding-right: 10px;
        margin: 15px 0;
    }
}

.block {
    display: flex;
    flex-direction: column;
    min-height: 724px;
    gap: 2px;
    justify-content: space-between;
    padding: 40px 60px;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba($background-border-color, 0.06), 25px 15px 25px 0 rgba($background-border-color, 0.15);

    > * {
        width: 100%;
    }
}

.initials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.password-field .mat-mdc-text-field-wrapper {
    padding-bottom: 0;
}

.hints {
    display: flex;
    font-size: 12px;
    gap: 20px;

    ul {
        display: flex;
        flex-direction: column;
        padding-left: 22px;
        font-size: 10px;
        line-height: 11px;
        gap: 10px;

        li {
            opacity: 0.38;

            &.fulfilled {
                opacity: 1;
                font-weight: bold;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px 0;

    .confirm-btn {
        height: 40px;
        min-width: 120px;
        border-radius: 20px;
        box-shadow: 0 1px 2px 0 rgba($background-border-color, 0.3);
        font-size: 12px;
        text-transform: uppercase;
    }
}

.mat-mdc-form-field::ng-deep {
    .mat-mdc-form-field-subscript-wrapper::before {
        content: none;
    }
}

.confirm-password-field {
    margin-bottom: 22px;
}
