<div class="content">
    <div class="header">
        <div class="header-actions">
            <span>Don't have an account?</span>
            <a [routerLink]="signUpLink">Create an account</a>
        </div>
    </div>
    <form
        class="block"
        [formGroup]="form">
        <div class="title">
            <span class="large-title">Log In to Your Account</span>
        </div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                name="email"
                autocomplete="on"
                matInput
                required
                [formControl]="form.controls.email"
                (keydown.enter)="onLogin()" />
            <mat-error *ngIf="form.controls.email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="form.controls.email.hasError('pattern')">Incorrect Email address</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                required
                autocomplete="off"
                [type]="hidePassword ? 'password' : 'text'"
                [formControl]="form.controls.password"
                (keydown.enter)="onLogin()" />
            <mat-icon matSuffix (click)="hidePassword = !hidePassword"></mat-icon>
            <mat-error *ngIf="form.controls.password.hasError('required')">Confirm password is required</mat-error>
        </mat-form-field>
        <footer>
            <button
                class="confirm-btn"
                mat-raised-button
                type="button"
                (click)="onLogin()">
                Login
            </button>
        </footer>
    </form>
</div>
